.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
  min-height: calc(100vh - (4rem + (2 * 1.25rem)) - (3rem + 0.5rem) - 4rem);
}

@media (max-width: 768px) {
  /* Redimensiona o tamanho de tudo por estar utilizando rem */
  html {
    font-size: 87.5%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
